$transition: all 0.3s linear;

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.nav-center {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .logo {
    width: 5em;
    margin-left: 0.5em;
  }
  .nav-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.3em;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2);
    .nav-toggle {
      background-color: transparent;
      // border: 1px solid #9C6E56;
      border: none;
      border-radius: 50%;
      padding: 1em;
      margin-right: 1em;
      outline: none;
      .fas.fa-bars {
        color: lighten($color: #9c6e56, $amount: 20%);
        font-size: 3em;
      }
      &:hover {
        transform: rotate(90deg);
        transition: $transition;
        cursor: pointer;
      }
    }
  }
  ul {
    width: 40%;
    display: flex;

    li {
      width: 100%;
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
  .links,
  .social-icons {
    // display: none;
    width: 100%;
    text-align: center;
  }
  // BY DEFAULT HIDE LINKS
  .links {
    height: 0;
    overflow: hidden;
    transition: transition;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    background-color: #9c6e56;
    margin-top: 5.3em;
    a {
      color: lighten($color: #9c6e56, $amount: 35%);
      font-size: 1.7em;
      text-transform: capitalize;
      &:hover {
        color: lighten($color: #477155, $amount: 30%);
      }
    }
  }
  // TOGGLE CLASS
  .show-links {
    height: 12rem;
    transition: $transition;
  }
  .social-icons {
    padding: 0;
    display: none;
    i {
      color: #9c6e56;
      &:hover {
        color: lighten($color: #477155, $amount: 30%);
      }
    }
  }
}

@media (min-width: 768px) {
  .nav-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 5.2em;
    position: fixed;
    box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2);
    top: 0;
    .nav-header {
      width: fit-content;
      z-index: 0;
      position: relative;
      box-shadow: none;
    }
    .nav-toggle {
      display: none;
    }
    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 20vh;
      width: 50%;
      margin: 0 0.5em;
      background-color: transparent;
      font-size: 0.8em;
      a {
        color: lighten($color: #9c6e56, $amount: 15%);
      }
    }
    .social-icons {
      display: none;
    }
  }
}

@media (min-width: 1000px) {
  .social-icons {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    width: 11em !important;
    height: 5em;
    i {
      color: black;
    }
  }
}
