body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.nav-center {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .logo {
    width: 15vmin;
    margin-left: 0.5em;
  }
  .nav-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-toggle {
      background-color: transparent;
      // border: 1px solid #9C6E56;
      border: none;
      border-radius: 50%;
      padding: 1em;
      margin-right: 1em;
      .fas.fa-bars {
        color: lighten($color: #9c6e56, $amount: 20%);
        font-size: 7vmin;
      }
    }
  }
  ul {
    width: 40%;
    display: flex;

    li {
      width: 100%;
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
  .links,
  .social-icons {
    // display: none;
    width: 100%;
    text-align: center;
  }
  .links {
    height: 10em;
    display: block;

    padding: 0;
    background-color: #9c6e56;
    a {
      color: white;
    }
  }
  .social-icons {
    padding: 0;
    i {
      color: #9c6e56;
    }
  }
}

@media (min-width: 768px) {
  .nav-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .nav-toggle {
      display: none;
    }
    .links,
    .social-icons {
      display: block;
    }
  }
}
